* {
    font-family: var(--fontStack-monospace, ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace) !important;
}

body {
    margin: 0 !important;
    padding: 0 !important;
}

.gameCell {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

.gameRow {
    margin: 0;
    padding: 0;
    height: 32px;
}